<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<link href="/css/test.css" rel="stylesheet">
	<link href="/css/test2.css" rel="stylesheet">

</head>
<body>
<div class="container" id="mainContainer">
	<div class="header">
		<h1><%= title %></h1>
		<p>あなたの婚活を手軽にサポート！<br>
			あなたの名前と性別を入力して，相手を探すボタンをクリック！！
		</p>
	</div>
	<div class="main">
		<form id="initform">
			<p>あなたの名前を入力してください．</p>
			<div class="input-group">
				<span class="input-group-addon">@</span>
				<input type="text" id="username" class="form-control" placeholder="ここをタッチして入力">
			</div>
			<p>あなたの性別を選んでください．</p>
			<div class="btn-group">
				<div class="male">
					<button type="button" class="gender btn btn-default">男性</button>
				</div>
				<div class="female">
					<button type="button" class="gender btn btn-default">女性</button>
				</div>
			</div>
			<input type="submit" id="submit_button" class="form_parts btn btn-default btn-lg" value="相手を探す．" disabled="disabled">
		</form>
	</div>
	<div class="footer">
		produced by team.namiekon
	</div>

</div>
<!-- /container -->

<div class="modal fade" id="matchingmodal" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<p>マッチングしたよ！</p>
				<p>次の画面とのつなぎ込みは未実装だよ！</p>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
	(function ($) {
		var socket = io()
		  , $mainContainer
		  , $lobbyCounter
		  , myGender
		  , $matchingModal;
		socket.on('connect', function(){
			console.log('connected');
		});
		socket.on('hoge', function(){
			console.log('hoge', arguments);
		});
		socket.on('goLobby', function(data){
			console.log(data.html);
			$mainContainer.empty().html(data.html);
			$lobbyCounter = $('#counter');
			changeLobbyMembers(data.count);
		});
		socket.on('refreshCount', function(data){
			console.log(data.count, 'refresh');
			changeLobbyMembers(data.count);
		});
		var changeLobbyMembers = function(count){
			if($lobbyCounter.length > 0) $lobbyCounter.text((myGender=='male'?'女性':'男性')+count+'人');
			if(count >= 1){
				setTimeout(function(){
					$matchingModal.modal('show');
				}, 3000);
			}
		};
		$(function () {
			$mainContainer = $('#mainContainer');
			var $maleBtn = $('.male')
			  , $femaleBtn = $('.female')
			  , $submitBtn = $('#submit_button')
			  , $userName = $('#username');
			$matchingModal = $('#matchingmodal');
			$maleBtn.on('click', function () {
				$maleBtn.addClass('selected');
				$femaleBtn.removeClass('selected');
				$submitBtn.removeAttr('disabled');
			});
			$femaleBtn.on('click', function () {
				$femaleBtn.addClass('selected');
				$maleBtn.removeClass('selected');
				$submitBtn.removeAttr('disabled');
			});
			$('#initform').on('submit', function(){
				var name = $userName.val();
				if( name.length === 0){
					name = '名無しさん';
				}
				console.log('hoge');
				if($maleBtn.hasClass('selected')){
					myGender = 'male';
					socket.emit('goLobby', {gender: 'male', name: name});
				}else if($femaleBtn.hasClass('selected')){
					myGender = 'female'
					socket.emit('goLobby', {gender: 'female', name: name});
				}else{
				}
				return false;
			});
		});
	})(jQuery);
</script>
</body>
</html>
