<div id="counter"></div>
<div id="loading"></div>
<div id="message">相手を探しています．</div>
<div class="centering">
	<button id="stop" type="button" class="btn btn-default btn-lg">
	  <span>探すのをやめる</span>
	</button>
</div>